/* ------------gogle fonts---------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


:root{

    --header-height: 3rem;

    --title-color: #0b0a0a;
    --text-color: #403a3a;
    --text-color-light: #707070;
    --container-color: #fafafa;
    --container-color-alt: #f0efef;
    --body-color: #fcfcfc;

    --body-font: 'Poppins', sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;

    --font-medium: 500;
    --font-semi-bold: 600;
    
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;

    --z-tooltip: 10;
    --z-fixed: 100;
}

*,
::before,
::after{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0 0 var(--header-height);
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,h2,h3,ul,p{
    margin: 0;
}
h1,h2,h3{
    color: var(--title-color);
    font-weight: var(--font-medium);
}
ul{
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}

.section{
    padding: 1.5rem 0;
}
.section-title{
    font-size: var(--h2-font-size);
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    text-transform: uppercase;
    letter-spacing: 0.35rem;
    text-align: center;
    margin-bottom: var(--mb-3);
}

/* ============================================== */

.bd-container{
    max-width: 968px;
    width: calc(100% -3rem);
    margin-left: var(--mb-3);
    margin-right: var(--mb-3);
}

.bd-grid{
    display: grid;
    gap: 1.5rem;
}

.l-header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 968px){
    .nav-menu{
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        padding: 2rem 1.5rem;
        background-color: var(--body-color);
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
        border-radius: 1rem 1rem 0 0;
        z-index: var(--z-fixed);
        transition: 0.3s;
    }
}

.nav-logo,
.nav-toggle{
    color: var(--title-color);
    font-weight: var(--font-medium);
}
.nav-toggle{
    font-size: 1.3rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.nav-toggle:active{
    transform: scale(0.9);
}
.nav-item{
    text-align: center;
}
.nav-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.nav-link{
    display: flex;
    flex-direction: column;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
    font-weight: var(--font-medium);
}
.nav-link:hover{
    color: var(--title-color);
}
.nav-icon{
    font-size: 1.2rem;
    margin-bottom: var(--mb-1);
}

.show-menu{
    bottom: var(--header-height);
    transition: all 0.4s ease-in-out;
}

.active-link{
    color: var(--title-color);
}

/* =============================================================== */

.home{
    position: relative;
}
.home-container{
    gap: 3rem;
}
.home-data{
    gap: 0.5rem;
    text-align: center;
}
.home-img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    justify-self: center;
    margin-bottom: var(--mb-1);
}
.home-title{
    font-size: var(--h1-font-size);
}
.home-profession{
   font-size: var(--normal-font-size);
   margin-bottom: var(--mb-1);
}
.home-address{
    gap: 1rem;
}
.home-information{
    display: flex;
    align-items: center;
    font-size: var(--small-font-size);
}
.home-icon{
    font-size: 1.2rem;
    margin-right: 0.25rem;
}
.home-button{
    display: inline-block;
    border: 2px solid var(--text-color);
    color: var(--title-color);
    padding: 1rem 2rem;
    border-radius: 0.24rem;
    transition: 0.3s;
    font-weight: var(--font-medium);
    margin-top: var(--mb-3);
}
.home-button-movil:hover{
    background-color: var(--text-color);
    color: var(--container-color);
}

/* ==================================================== */

.social-container{
    grid-template-columns: max-content;
    gap: 1rem;
}
.social-link{
    display: inline-flex;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--text-color);
}
.social-link:hover{
    color: var(--title-color);
}
.social-icon{
    font-size: 1.2rem;
    margin-right: 0.25rem;
}
.profile-description{
        text-align: center;      
}

/* ================================================== */

.education-content,
.experience-content{
    display: flex;
}
.education-time,
.experience-time{
    padding-right: 1rem;
}
.education-rounder,
.experience-rounder{
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    background-color: var(--text-color-light);
    border-radius: 50%;
    margin-top: 0.25rem;
}
.education-line,
.experience-line{
    display: block;
    width: 2px;
    height: 110%;
    background-color: var(--text-color-light);
    transform: translate(7px,0);
}
.education-data,
.experience-data{
    gap: 0.5rem;
}
.education-title,
.experience-title{
    font-size: var(--h3-font-size);
}
.education-studies,
.experience-studies{
    font-size: var(--small-font-size);
    color: var(--title-color);
}
.education-year,
.experience-year{
    font-size: var(--smaller-font-size);
}

/* ====================================================== */

.skills-content,
.languages-content{
    grid-template-columns: repeat(2, 1fr);
}
.languages-content{
    gap: 0;
}
.skills-name,
.languages-name{
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-3);
}
.skills-circle,
.languages-circle{
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: var(--text-color);
    border-radius: 50%;
    margin-right: 0.75rem;
}

/* ====================================== */

.certificate-title{
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
}

/* ================================ */

.references-content{
    gap: 0.25rem;
}
.references-subtitle{
    color: var(--text-color-light);
}
.references-subtitle,
.references-content{
    font-size: var(--smaller-font-size);
}
.references-title{
    font-size: var(--h3-font-size);
}

/* ========================================== */

.interests-container{
    grid-template-columns: repeat(3, 1fr);
    margin-top: var(--mb-2);
}
.interests-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.interests-icon{
    font-size: 1.5rem;
    color: var(--text-color-light);
    margin-bottom: 0.25rem;
}

/* ======================================== */

.scrollTop{
    position: fixed;
    right: 1rem;
    bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    background-color: var(--container-color-alt);
    border-radius: 0.4rem;
    z-index: var(--z-tooltip);
    transition: opacity 0.4s ease;
    opacity: 0;
}
.scrollTop-icon{
    font-size: 1.2rem;
    color: var(--text-color);
}
.show-scroll{
    opacity: 1;
}

/*  responsive ness */

@media screen and (max-width: 400px){
    .nav-list{
        grid-template-columns: repeat(2 , 1fr);
        gap: 1rem 0.5rem;
    }
}

@media screen and (min-width: 968px) {
    body{
        margin: 3rem 0;
    }
    .bd-container{
        margin-left: auto;
        margin-right: auto;
    }
    .l-header,
    .scrollTop{
        display: none;
    }
    .resume{
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        background-color: var(--container-color);
        box-shadow: 0 0 8px rgba(13,12,12,0.15);
    }
    .resume-left,
    .resume-right{
     padding: 0 1.5rem;
    }
    .section-title,
    .profile-description{
    text-align: initial;
    }
    .home-container{
        gap: 1.5rem;
    }
    .home-button-movil{
        display: none;
    }
    .references-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .languages-content{
        grid-template-columns: repeat(3, max-content);
        column-gap: 3.5rem;
    }
    .interests-container{
        grid-template-columns: repeat(4, max-content);
        column-gap: 3.5rem;
    }
}